projects/ml_workflow_for_scones_unlimited/MyStateMachine-jpawniln9.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Serialize image",
  "States": {
    "Serialize image": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:700736504781:function:serializeImageData:$LATEST"
      },
      "Next": "Image prediction"
    },
    "Image prediction": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:700736504781:function:imagePrediction:$LATEST"
      },
      "Next": "Check threshold",
      "InputPath": "$.body"
    },
    "Check threshold": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:700736504781:function:checkThreshold:$LATEST"
      },
      "End": true,
      "InputPath": "$.body"
    }
  }
}
